# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/ 
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.DS_Store
/.idea
.venv
proveIgnazio_MLX_LM/models
proveIgnazio_MLX_LM/data/processed
proveIgnazio_MLX_LM/data/raw
proveIgnazio_MLX_LM/data/test
NLP_Generative_Task_QnA.code-workspace
proveIgnazio_Transformers_Library/data/prepared_data
proveIgnazio_Transformers_Library/data/tokenized_data
__pycache__/
proveIgnazio_Transformers_Library/models_google-t5
results/
tensorboard_logs/
models*/
.env
faiss_index_bioasq/