# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/ 
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.DS_Store
/.idea
.venv
MLX_LM/models
MLX_LM/data/processed
MLX_LM/data/raw
MLX_LM/data/test
NLP_Generative_Task_QnA.code-workspace
Transformers_Library/data/prepared_data
Transformers_Library/data/tokenized_data
__pycache__/
Transformers_Library/models_google-t5
results/
tensorboard_logs/
models*/
faiss_index_bioasq/
venv/
